<div class="ionic-body">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Hand Weapon</h1>
        <button class="button button-dark icon ion-ios-undo" ng-click="openScreen('crewGear')">Back</button>
    </div>
    <div class="content has-header">
        <div class="list">
            <div class="item narrow" ng-show="grenade">
                <span class="button-group WeaponCount">
                    <button class="button button-small icon ion-minus-circled" ng-click="decreaseCount()"
                        title="Fewer Grenades"></button>
                    <button class="button button-small icon ion-plus-circled" ng-click="increaseCount()"
                        title="More Grenades"></button>
                    {{count}} {{name}}{{count > 1 ? "s" : ""}}
                </span>
            </div>
            <div class="item" ng-hide="grenade">{{name}}</div>
            <div class="item" ng-hide="ammo.length >= 11">${{cost}}, {{weight}}</div>
            <div ng-show="ammo.length > 0">
                <div class="item item-divider">Ammunition</div>
                <div class="item" style='text-overflow: clip;' ng-class="{'narrow': ammo.length < 11, 'verynarrow': ammo.length >= 11}"
                     ng-repeat="type in ammo" ng-hide="!allAmmo && $index > 10">
                  <span class="button-group AmmoCount {{type.tag}}" style="vertical-align: top;">
                    <button class="button button-small icon ion-minus-circled" ng-click="decreaseAmmo(type.ammo)"
                            ng-disabled="type.count < 1" title="Fewer Shots"></button>
                    <button class="button button-small icon ion-close-circled" ng-click="removeAmmo(type.ammo)"
                            ng-disabled="type.count < 1" title="Remove All"></button>
                    <button class="button button-small icon ion-android-storage" ng-click="addClip(type.ammo)"
                            ng-disabled="(type.requiredTech === 'CWC' && classicTech) || (type.requiredTech === 'All' && cwcClassicTech) || (type.requiredTech === 'Military' && techLevel !== 'Military')" title="Add Clip"></button>
                    <button class="button button-small icon ion-plus-circled" ng-click="increaseAmmo(type.ammo)"
                            ng-disabled="(type.requiredTech === 'CWC' && classicTech) || (type.requiredTech === 'All' && cwcClassicTech) || (type.requiredTech === 'Military' && techLevel !== 'Military')" title="More Shots"></button>
                  </span>
                  <span style="line-height: 28px;" ng-class="{'text-disabled':(type.requiredTech === 'CWC' && classicTech) || (type.requiredTech === 'All' && cwcClassicTech) || (type.requiredTech === 'Military' && techLevel !== 'Military')}">{{type.count}} {{type.ammo.name}}</span>
                </div>
                <a class="item item-icon-left item-icon-right item-divider narrow" ng-click="allAmmo = true"
                   ng-show="ammo.length >= 11 && !allAmmo" style="font-weight: normal;">
                    <i class="icon ion-search icon-accessory"></i>
                    Show extra ammo types
                    <i class="icon ion-search icon-accessory"></i>
                </a>
                <a class="item item-icon-left item-icon-right item-divider narrow" ng-click="allAmmo = false"
                   ng-show="ammo.length >= 11 && allAmmo"  style="font-weight: normal;">
                    <i class="icon ion-chevron-up icon-accessory"></i>
                    Hide extra ammo types
                    <i class="icon ion-chevron-up icon-accessory"></i>
                </a>
            </div>
            <div ng-hide="allAmmo">
                <div>
                    <div class="item item-divider">Weapon Options</div>
                    <div class="item narrow" ng-hide="noExtended">
                      <span class="button-group Extended">
                        <button class="button button-small icon ion-minus-circled" ng-click="fewerExtendedMags()"></button>
                        <button class="button button-small icon ion-plus-circled" ng-click="moreExtendedMags()"></button>
                          {{extendedMags}}
                      </span>
                    </div>
                    <checkbox-item class="narrow" ng-model="laserScope" ng-change="updateWeapon('laserScope')"
                                   ng-disabled="classicTech && !laserScope" ng-hide="noScope">Laser Scope</checkbox-item>
                    <checkbox-item class="narrow" ng-model="foldingStock" ng-change="updateWeapon('foldingStock')"
                                   ng-disabled="classicTech && !foldingStock" ng-hide="noStock">Folding Stock</checkbox-item>
                    <checkbox-item class="narrow" ng-model="impactFused" ng-change="updateWeapon('impactFused')"
                                   ng-hide="noFuse">Impact Fuse</checkbox-item>
                    <checkbox-item class="narrow" ng-model="powerPack" ng-change="updateWeapon('powerPack')"
                                   ng-hide="noPower">Power Pack</checkbox-item>
                </div>
                <div class="item item-divider">Remove Weapon</div>
                <a class="item item-icon-left item-icon-right" ng-click="removeWeapon()">
                    <i class="icon ion-pinpoint"></i>
                    Remove Weapon
                    <i class="icon ion-chevron-right icon-accessory"></i>
                </a>
            </div>
        </div>
    </div>
</div>
