<div class="ionic-body">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Gear Types</h1>
    </div>
    <div class="content has-header">
        <div class="list">
            <a class="item item-icon-left item-icon-right"
               ng-repeat="category in categories" ng-click="selectCategory(category)" ng-class="{'link-disabled':category.disabled}">
                <i class="icon" ng-class="category.icon"></i>
                {{category.name}}
                <span class="badge badge-calm" ng-show="category.count || category.count === 0">{{category.count}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </div>
</div>
