<div id="License" ng-controller="LicenseCtrl" ng-style="{width:mainDimensions.width+'px', top:mainDimensions.height+'px'}">
    Car Wars&#0153; <a href="http://www.sjgames.com/general/online_policy.html" target="_blank">Steve Jackson Games</a>.
    <a href ng-click="dialogVisible=true" href="">More Info <i class="icon ion-arrow-up-b"></i></a>
    <a href="revision.html" target="_blank">Revision History</a>&nbsp;
    <modal-dialog ng-show='dialogVisible' dialog-title='License &amp; Info'>
        <h3>Car Wars</h3>
        <p>Car Wars is a trademark of Steve Jackson Games, and its rules and art are copyrighted by Steve Jackson Games.
            All rights are reserved by Steve Jackson Games. This game aid is the original creation of Aaron Mulder and is released
            for free distribution, and not for resale, under the permissions granted in the
            <a href="http://www.sjgames.com/general/online_policy.html" target="_blank">Steve Jackson Games Online Policy</a>.</p>
        <h3>Icons</h3>
        <p>Icons by <a href="http://glyphish.com/" target="_blank">Glyphish</a>
            and <a href="http://glyphicons.com/" target="_blank">Glyphicons</a>
            and <a href="http://ionicons.com/" target="_blank">Ionicons</a>.</p>
        <h3>Revision History</h3>
        <p>Combat Garage <a href="revision.html" target="_blank">Revision History</a>.</p>
        <h3>Issues &amp; Feedback <i class="icon ion-android-forums"></i></h3>
        <p>You can see the list of pending bugs and enhancements at
          <a href="http://carwars.myjetbrains.com/" target="_blank">http://carwars.myjetbrains.com/</a>.</p>
        <p>E-mail me at <a href="mailto:ammulder@alumni.princeton.edu">ammulder@alumni.princeton.edu</a>
            or post on the SJG <a href="http://forums.sjgames.com/forumdisplay.php?f=23" target="_blank">Car Wars Forum</a>.</p>
    </modal-dialog>
</div>
