<div class="TourOverlay"></div>
<canvas class="TourCanvas"></canvas>
<div class="TourDialog">
    <div class="ionic-body">
        <div class="content">
            <div class="list">
                <p class="item">Welcome to the Combat Garage tour!</p>
                <div class="item InTour" style="padding: 0;">
                    <div class="row">
                        <div class="col InTour">
                            <button class="button button-block icon-left ion-close InTour"
                                    ng-click="stopTour()">Close</button>
                        </div>
                        <div class="col InTour"></div>
                        <div class="col InTour">
                            <button class="button button-block button-positive icon-right ion-chevron-right InTour">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>