<div class="ionic-body">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Weapon List</h1>
        <button class="button button-dark icon ion-ios7-undo" ng-click="openScreen('weaponTypes')">Back</button>
    </div>
    <div class="content has-header">
        <div class="list">
            <a ng-repeat="weapon in weapons" class="item item-icon-right narrow {{weapon.weapon.abbv}}"
               ng-click="createWeapon(weapon.weapon)"
               ng-class="{'link-disabled':weapon.disabled || (weapon.requiredTech === 'CWC' && classicTech) || (weapon.requiredTech === 'All' && cwcClassicTech) || (weapon.requiredTech === 'Military' && techLevel !== 'Military')}">
                {{weapon.weapon.name}}<br />
                ${{weapon.loadedCost}}, {{weapon.loadedWeight}} lbs,
                {{weapon.space}}sp{{weapon.toHit ? ", " : ""}}{{weapon.toHit}}{{weapon.damage ? ", " : ""}}{{weapon.damage}}
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </div>
</div>
