<div class="ionic-body">
    <div class="bar bar-header bar-positive">
        <h1 class="title">Admin Options</h1>
    </div>
    <div class="content has-header">
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="openScreen('adminReview')">
                <i class="icon ion-compose"></i>
                Pending Stock Cars
                <span class="badge badge-energized">{{pendingCount}}</span>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ng-click="openScreen('adminRegenerate')">
                <i class="icon ion-refresh"></i>
                Regenerate Designs
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>
    </div>
</div>
